{% extends 'base.html.twig' %}

{% block title %}Threads!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <table>
            {% for thread in threads %}
                <tr>
                    <td><a href="{{ path('view-thread', {'id': thread.id}) }}">{{ thread.name }}</a></td>
                    {% if thread.lastMessage.date is defined %}
                        <td>{{ thread.lastMessage.date|date('Y-m-d') }}</td>{% else %}<td>{{ thread.date|date('Y-m-d m:s') }}</td>{% endif %}
                    <td>{{ thread.author.username }}</td>
                </tr>
            {% endfor %}
        </table>
        <br/>
        <a href="{{ path('create-thread') }}">Nové téma</a>

    </div>
{% endblock %}
