{% extends 'base.html.twig' %}

{% block title %}{{ thread.name }}{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        {% for message in messages %}
            <div class="message">
                <div class="author">{{ message.author.username }}</div>
                <div class="date">{{ message.date|date('Y-m-d h:s') }}</div>
                <div class="content">{{ message.content }}</div>
            </div>
        {% endfor %}
        <a href="{{ path('create-message', {'id': thread.id}) }}">Nová zpráva</a>
    </div>
{% endblock %}
